%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:categories, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:categories, :new)

.tabs-content
  -form_for :category, url(:categories, :create), :class => 'form-horizontal' do |f|
    =partial 'categories/form', :locals => { :f => f }
