<div id="Logo">
        <img src="/img/Logo.png">
</div>
<img src="img/ImagenIndex.png" class="ImagenIndex">
<div class="Seleccion"></div>
<ul id="Categorias">
    <% @categorias.each do |c| %>
    <li id="Categoria<%=c.id%>" class="Categoria">
        <a href="<%= url(:home, :productos, c.id) %>">
            <img src="/img/Ticket.png">
            <input value="<%= c.name %>" type="button">
        </a>                    
    </li>
    <% end %>
</ul>