<div id="Logo">
    <img src="/img/Logo.png">
</div>
<img src="img/ImagenIndex.png" id="ImagenIndex">
<div id="Login">
    <div id="Textos">
        <label id="labelCorreo" class="control-label" for="inputCorreo">Correo</label>
        <input type="text" id="inputCorreo" name="correo" placeholder="ejemplo@mail.com" required>
        <div id="Fila2">
            <label id="labelContraseña" class="control-label" for="inputContraseña">Contraseña</label>
            <input type="password" id="inputContraseña" name="contraseña" placeholder="* * * * * * * *"required>
        </div>
    </div>
    <div id="Borde-Right"></div>
</div>
<div id="Signin">
    <a href="<%= url(:home, :categorias) %>"><img src="/img/Entrar.png"></a>
</div>
<div id="Social">
    <p>¿No puedes acceder a tu cuenta?</p>
    <a id="Social1" href="/auth/facebook"><img src="/img/Facebook.png"></a>
    <a href="/auth/twitter"><img src="/img/Twitter.png"></a>
</div>
<div id="Signup">
    <a href="#"><img src="/img/Registro.png"></a>
    <p>¿No estás Registrado?</p>
</div>