<div id="Logo">
                <img src="/img/Logo.png">
            </div>
            <div id="NavBar">
                <a id="Atras" href="<%= url(:home, :categorias) %>">
                    <img src="/img/Atras.png">
                </a>
                <a id="Inicio" href="/">
                    <img src="/img/Inicio.png">
                </a>
                <a id="Siguiente" href="comprar.html">
                    <img src="/img/Siguiente.png">
                </a>
            </div>
            <div id="CategoriaSelected" >
                <img src="/img/Ticket.png">
                <input value="Cambiar el piso flotante." type="button">
            </div>
            <ul id="Productos">
                <li id="Producto1" class="Producto ProductoSelected">
                    <a href="javascript:void(0)">
                        <div class="Ticket"></div>
                        <img src="/img/Producto1.png">
                        <div class="DetalleProducto">
                            <p class="Especificacion">Piso flotante 8mm 2,40m2 3S</p>
                            <p class="Local">Loc Haya piemonte. - EUROFLOOR</p>
                            <p class="Numero">816627</p>
                            <p>Valor Caja</p>
                            <p class="PrecioInternet">Internet <span>$11.858 (-10%)</span></p>
                            <p class="PrecioNormal"> Precio Normal <span>$13.176</span></p>
                        </div>
                    </a>
                </li>
                <li id="Producto2" class="Producto">
                    <a href="javascript:void(0)">
                        <div class="Ticket"></div>
                        <img src="/img/Producto2.png">
                        <div class="DetalleProducto">
                            <p class="Especificacion">Piso flotante 8mm 2,4m2 1ST Loc</p>
                            <p class="Local">Portofino. - KAINDL</p>
                            <p class="Numero">816636</p>
                            <p>Valor Caja</p>
                            <p class="PrecioInternet">Internet <span>$12.938 (-10%)</span></p>
                            <p class="PrecioNormal"> Precio Normal <span>$14.376</span></p>
                        </div>
                    </a>
                </li>
                <li id="Producto2" class="Producto">
                    <a href="javascript:void(0)">
                        <div class="Ticket"></div>
                        <img src="/img/Producto2.png">
                        <div class="DetalleProducto">
                            <p class="Especificacion">Piso flotante 8mm 2,4m2 1ST Loc</p>
                            <p class="Local">Portofino. - KAINDL</p>
                            <p class="Numero">816636</p>
                            <p>Valor Caja</p>
                            <p class="PrecioInternet">Internet <span>$12.938 (-10%)</span></p>
                            <p class="PrecioNormal"> Precio Normal <span>$14.376</span></p>
                        </div>
                    </a>
                </li>
                <li id="Producto2" class="Producto">
                    <a href="javascript:void(0)">
                        <div class="Ticket"></div>
                        <img src="/img/Producto2.png">
                        <div class="DetalleProducto">
                            <p class="Especificacion">Piso flotante 8mm 2,4m2 1ST Loc</p>
                            <p class="Local">Portofino. - KAINDL</p>
                            <p class="Numero">816636</p>
                            <p>Valor Caja</p>
                            <p class="PrecioInternet">Internet <span>$12.938 (-10%)</span></p>
                            <p class="PrecioNormal"> Precio Normal <span>$14.376</span></p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div id="fade" class="overlay"></div>
        <div id="modal" class="modal" style="display:none">
            <img src="/img/Producto1.png">
            <div id="ContenedorModal">
                <div class="Producto">
                    <div class="DetalleModal">
                        <p class="Especificacion">Piso flotante 8mm 2,40m2 3S</p>
                        <p class="Local">Loc Haya piemonte. - EUROFLOOR</p>
                        <p class="Numero">816627</p>
                        <p>Valor Caja</p>
                        <p class="PrecioInternet">Internet <span>$11.858 (-10%)</span></p>
                        <p class="PrecioNormal"> Precio Normal <span>$13.176</span></p>
                    </div>
                </div>
                <ul id="DescripcionSuperior">
                    <span>Descripci칩n</span>
                    <li id="Descripcion1">Piso flotante foto laminado.</li>
                    <li id="Descripcion2">Sistema Loc (sin pegamento).</li>
                    <li id="Descripcion3">F치cil y rapido de instalar.</li>
                </ul>
                <ul id="DescripcionInferior">
                    <li class="Modelo">Modelo: Haya piemonte.</li>
                    <li class="Medidas">Medidas: .</li>
                    <li class="Medidas">Espesor: 8mm.</li>
                    <li class="Medidas">Strip: 3 strip.</li>
                    <li class="Medidas">Rendimiento x caja: 2,40m2.</li>
                    <li class="Medidas">Material: Aglomerado enchapado foto laminado.</li>
                    <li class="Medidas">Origen: Austria.</li>
                    <li class="Medidas Ultimo">Tama침o para despacho: Peque침o.</li>
                </ul>
            </div>
        </div>
