<div id="modal">
    <div id="Cerrar">
        <a href="javascript:history.back(1)"></a>
    </div>
    <img src="/img/Producto1.png">
    <div id="ContenedorModal">
        <div class="Producto">
            <div class="DetalleModal">
                <p class="Especificacion">Piso flotante 8mm 2,40m2 3S</p>
                <p class="Local">Loc Haya piemonte. - EUROFLOOR</p>
                <p class="Numero">816627</p>
                <p>Valor Caja</p>
                <p class="PrecioInternet">Internet <span>$11.858 (-10%)</span></p>
                <p class="PrecioNormal"> Precio Normal <span>$13.176</span></p>
            </div>
        </div>
        <ul id="DescripcionSuperior">
            <span>Descripci칩n</span>
            <li id="Descripcion1">Piso flotante foto laminado.</li>
            <li id="Descripcion2">Sistema Loc (sin pegamento).</li>
            <li id="Descripcion3">F치cil y rapido de instalar.</li>
        </ul>
        <ul id="DescripcionInferior">
            <li class="Modelo">Modelo: Haya piemonte.</li>
            <li class="Medidas">Medidas: .</li>
            <li class="Medidas">Espesor: 8mm.</li>
            <li class="Medidas">Strip: 3 strip.</li>
            <li class="Medidas">Rendimiento x caja: 2,40m2.</li>
            <li class="Medidas">Material: Aglomerado enchapado foto laminado.</li>
            <li class="Medidas">Origen: Austria.</li>
            <li class="Medidas Ultimo">Tama침o para despacho: Peque침o.</li>
        </ul>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $('body').css({'background-image':'url(../img/Fondo2.png)',
                        'border-color':'#bf3737'
            });
    })
</script>