%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:slides, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:slides, :new)

.tabs-content
  -form_for :slide, url(:slides, :create), :class => 'form-horizontal', :multipart => true do |f|
    =partial 'slides/form', :locals => { :f => f }
