@media (max-device-width: 639px){ 
/*----------------------------------------------------*/
/*-------------------- Sección General ---------------*/
/*----------------------------------------------------*/
*{ padding: 0; margin:0; border:0;}
/* commented backslash hack \*/ 
html, body{height:98%;} 
/* end hack */
html,body {margin:0;padding:0}

body{
	border-top: 5px solid #ad0000;
	background: url(../img/Fondo.png);
	-webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
}
#wrapper{
	margin: 0 auto;	
	width: 640px;
	/*min-height: 1092px;*/
	min-height: 100%;
}
#BordeInferior{
	display: none;
}
#Logo{
	width: 100%;
	height: 428px;
	padding: 35px 0 0 26.4%; /*169px*/
}
#Logo img{
	width:   80.7%; /*380px*/
	height:  360px;
}
.ImagenIndex{
	display: none;
}

#buscador {height: 57px; margin: 0 25px 38px; position:relative; display: block; background: #e3dcc9; border-radius: 8px; box-shadow: rgba(0,0,0,.36) 0 7px 8px, rgba(194,167,141,.8) 0 -4px 3px inset, rgba(255,255,255,1) 0 2px 2px inset;
background: #f9f4ee; /* Old browsers */
background: -moz-linear-gradient(top,  #f9f4ee 0%, #dbd4bc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f4ee), color-stop(100%,#dbd4bc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f9f4ee 0%,#dbd4bc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f9f4ee 0%,#dbd4bc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f9f4ee 0%,#dbd4bc 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f9f4ee 0%,#dbd4bc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f4ee', endColorstr='#dbd4bc',GradientType=0 ); /* IE6-9 */	
}
#buscador .query {height: 35px; background: #fff; border-radius: 4px; margin: 10px 23px; font-size: 24px;  width: 485px; padding: 5px 10px; box-shadow: rgba(182,153,125,.45) 0 -2px 2px, rgba(255,255,255,1) 0 2px 2px;}
#buscador .send {position: absolute; right: 23px; top: 10px;}
/*----------------------------------------------------*/
/*-------------- Fin Seccion General -----------------*/
/*----------------------------------------------------*/

/*----------------------------------------------------*/
/*---------------------- Index -----------------------*/
/*----------------------------------------------------*/
#Login{
	margin-left:     2%;
	margin-right:    2%;
	width:           96%;
	height:          153px;
}
#Textos{
	float:     left;
	width:     87.3%;
	height:    100%;
	font-size: 33.3px;
	line-height: 250%;
}
#Textos input{
	color:   #8b8b8b;
	border-left: none;
	padding-left: 2.5%;
}
#Textos label{
	border-right: none;
	padding-left: 2.5%;
	margin:  0;
	color:   #232323;
	font-family:      'DINNextLTPro-Regular';
}
#Textos #labelCorreo{
	float:            left;
	background-color: white;
	width:            40%;
	height:           50%;
	border-radius: 10px 0 0 0;
	-moz-border-radius: 10px 0 0 0;
	-webkit-border-radius: 10px 0 0 0;
	border-top:2px solid #8b8b8b;
	border-left:2px solid #8b8b8b;
}
#Textos #inputCorreo{
	float:       left;
	width:       60%;
	height:      50%;	
	font-family: 'DINNextLTPro-Regular';
	border: none;
	border-top:2px solid #8b8b8b;
}
#Fila2{
	float: left;
	width:100%;
	height:50%;
	border-top:2px solid #8b8b8b;
}
#Textos #labelContraseña{
	float:            left;
	background-color: white;
	width:            40%;
	height:           100%;
	border-radius: 0 0 0 10px;
	-moz-border-radius: 0 0 0 10px;
	-webkit-border-radius: 0 0 0 10px;
	font-family: 'DINNextLTPro-Ultralight';
	border-left: 2px solid #8b8b8b;
	border-bottom: 2px solid #8b8b8b;
}
#Textos #inputContraseña{
	float:       left;
	width:       60%;
	height:      100%;
	border:none;
	border-bottom: 2px solid #8b8b8b;
}
#Borde-Right{
	float:           left;
	width:           12.7%;
	height:          100%;
	background:      url(../img/Borde-right.png);
	background-size: 100% 100%;
}
#Signin{
	margin-left:   2%;
	margin-right:  2%;
	width:         96%;
	height:        99px;
}
#Signin a{
	display: block;
	margin-top: 19px;
	width:   100%;
}
#Signin img{
	width:  100%;
	height: 79px;
}
#Social{
	width:  100%;
	height: 300px;
}
#Social p{
	margin:         0;
	/*padding:      0.08cm 0.7cm 0.49cm 0.7cm;*/
	height:         79px;
	width:          100%;
	font-family:    'DINNextLTPro-Regular';
	font-size:      33.3px;
	text-align:     center;
}
#Social a{
	display:      block;
	margin-left:  17.3%;
	margin-right: 17.3%;
	width:        65.4%;
	height:       79px;
}
#Social img{
	width:  100%;
	height: 100%;
}
#Social1{
	margin-bottom: 18px;
}
#SignupMovil{
	width:           100%;
	height:          102px;
	background:      url(../img/Signup.png);
	background-size: 100% 100%;
}
#SignupMovil p{
	display: none;
}
#SignupMovil a{
	display:      block;
	float:        right;
	margin-top:   19px;
	margin-right: 14px;
	width:        46%;
	height:       63px;
}
#SignupMovil img{
	width:  100%;
	height: 100%;
}
/*----------------------------------------------------*/
/*------------------- Fin Index ----------------------*/
/*----------------------------------------------------*/

/*----------------------------------------------------*/
/*-------------------- Categorias --------------------*/
/*----------------------------------------------------*/
.Seleccion{
	display:none;
}
#Categorias{
	float:  left;
	margin: 0 2% 0 2%;
}
.Categoria{
	width: 		   100%;
	float:         left;
	margin-bottom: 7px;
}
.Categoria a{
	float:  left;
	width:  100%;
	height: 60px;
}
.Categoria a img{
	float:  left;
	width:  10.9%;
	height: 100%;
}
.Categoria a input{
	padding-left: 10px;
	float:                 left;
	height:                60px;
	width:                 89.1%;
	font-size:             33.3px;
	color:                 #232323;
	line-height:           0;
	text-align:            left;
	font-family:           'DINNextLTPro-Regular';
	border-radius:    0 4px 4px 0;
	-moz-border-radius:    0 4px 4px 0;
	-webkit-border-radius: 0 4px 4px 0;
	background:            rgba(255, 255, 255, 0.6);
	border:                solid 1px rgba(66, 0, 0, 0.3);
}
/*----------------------------------------------------*/
/*------------------ Fin Categorias ------------------*/
/*----------------------------------------------------*/

/*----------------------------------------------------*/
/*-------------------- Productos ---------------------*/
/*----------------------------------------------------*/
#NavBar{
	float: left;
	width:100%;
	padding: 0 2% 20px 2%;
}
#NavBar input{
	display:none;
}
#Atras{
	float:left;
	height: 94px;
	width:  33%;
	background: url(../img/Atras.png);
	background-size: 100% 100%;
}
#Siguiente{
	float:left;
	height: 94px;
	width:  33%;
	background: url(../img/Siguiente.png);
	background-size: 100% 100%;
}
#Inicio{
	float:left;
	height: 94px;
	width:  34%;
	background: url(../img/Inicio.png);
	background-size: 100% 100%;
}
#NavBar img{
	width:  100%;
	height: 100%;
}
#CategoriaSelected{
	float: left;
	padding: 0 2% 0 2%;
	width: 100%;
}
#CategoriaSelected img{
	float:left;
	width:10.8%;
	height:59px;
}
#CategoriaSelected input{
	float:left;
	height: 59px;
	width: 89.2%;
	font-size: 33.3px;
	color: #ffffff;
	line-height: 0;
	text-align: left;
	vertical-align: middle;
	font-family: 'DINNextLTPro-Regular';
	border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	-webkit-border-radius: 0 4px 4px 0;
	background: url(../img/CategoriaSelected.png);
	background-size: 100% 100%;
	border: solid 0.3px rgba(66, 0, 0, 0.5);
	padding-left: 10px;
}
#CategoriaSelected input:hover{
	cursor: default;
}
#Productos{
	float:left;
	width:100%;
	padding: 0 2% 0 2%;
}
#Productos2{
	float:left;
	width:100%;
	padding: 0 2% 0 2%;
}
.Producto{
	float:left;
	margin-top: 2px;
	width:100%;
	height: 161px;
}
.ProductoCajaImagen
{
	background-color: white; height: 161px; width: 140px; float: left
}
.ProductoCajaImagen img
{
	margin-top: 25px;
}

.Producto .Check{
	float: left;
	height:161px;
	width:10.9%;
}
.Producto .Ticket{
	background: url(../img/TicketGrande.png);
	background-size: 100% 100%;
	float:left;
	height:100%;
	width:100%;
}
.Producto img{
	float:left;
	/*height:100%;*/
	/*width:27.3%;*/
	width: 100%;
}
.DetalleProducto{
	float:       left;
	height:      100%;
	width:       61.8%;
	font-family: 'DINNextLTPro-Regular';
	font-size:   22.31px;
	background:  rgba(255, 255, 255, 0.6);
	border:      solid 1px rgba(66, 0, 0, 0.3);
	padding: 10px 0 0 10px;
}
.DetalleProducto p{
	float:left;
	display: block;
	width: 100%;
	line-height: 25px;
	margin: 0;
	border: 0;
	color: #232323;
}
.DetalleProducto .Local{
	font-family: 'DINNextLTPro-Regular';
	font-weight: bold;
}
.DetalleProducto .Numero{
	color:#db0000;
	font-size: 18.59px;
}
.PrecioReferencia
{
	font-size: 10px;

}
.DetalleProducto .PrecioInternet{
	font-size: 26.03px;
}
.DetalleProducto .PrecioNormal{
	font-size: 18.59px;
}
.DetalleProducto span{
	color:#db0000;
	font-family: 'DINNextLTPro-Regular';
	font-weight: bold;
}
.ProductoSelected .DetalleProducto{
	background:  rgba(255, 130, 130, 0.95);
}
.ProductoSelected .Ticket{
	background: url(../img/TicketGrande2.png);
	background-size: 100% 100%;
}
/*----------------------------------------------------*/
/*------------------ Fin Productos -------------------*/
/*----------------------------------------------------*/

/*----------------------------------------------------*/
/*--------------------- Modal ------------------------*/
/*----------------------------------------------------*/
#modal{
	margin: 35px 2% 35px 2%;
	width: 96%;
}
#modal #Cerrar{
	position: absolute;
	margin: auto;	
	width: 614px;
	height:50px;
}
#modal #Cerrar a{
	float:right;
	width: 8.1%;
	height:50px;
	background: url(../img/Cerrar.png);
}
.wrapperModal #Logo{
	padding: 14px 0 0 26.4%; /*169px*/
}
#modal img{
	width: 100%;
	height: 383px;
	border: 1px solid black;
}
#modal .Producto{
	margin: 0;
	border:0;
	height: 100%;
	float: left;
}
#ContenedorModal{
	height: 100%;
	float: left;
	background: url(../img/FondoModal.png);
	background-size: 100% 100%;
	text-decoration: underline;
	padding-bottom: 10px;
}
.DetalleModal{
	float:left;
	height:      225px;
	width:       100%;
	font-family: 'DINNextLTPro-Regular';
	font-size:   28.1px;
	padding: 10px 0 0 10px;
}
.DetalleModal p{
	text-decoration: underline;
	float:left;
	display: block;
	width: 100%;
	line-height: 35px;
	margin: 0;
	border: 0;
	color: #232323;
}
.DetalleModal .Local{
	font-family: 'DINNextLTPro-Bold';
}
.DetalleModal .Numero{
	color:#db0000;
	font-size: 23.41px;
}
.DetalleModal .PrecioInternet{
	font-size: 32.78px;
}
.DetalleModal .PrecioNormal{
	font-size: 23.41px;
}
.DetalleModal span{
	color:#db0000;
	font-family: 'DINNextLTPro-Bold';
}
#DescripcionSuperior, #DescripcionInferior{
	padding: 10px 0 0 10px;
	font-family: 'DINNextLTPro-Regular';
	font-size: 23.41px;
}
#DescripcionSuperior span{
	font-family: 'DINNextLTPro-Bold';
	color:#db0000;
}
#DescripcionSuperior li{
	list-style-type: disc;
	list-style-position: inside;
}
#DescripcionInferior{
	margin:0;
}
#DescripcionInferior .Ultimo{
	padding-top: 20px;
}
#ContenedorModal .Tablet{
	display:none;
}
/*----------------------------------------------------*/
/*-------------------Fin Modal -----------------------*/
/*----------------------------------------------------*/


/*----------------------------------------------------*/
/*--------------------- Compras-----------------------*/
/*----------------------------------------------------*/
#Compras{
	width:96%;
	height:59px;
	margin: 0 2% 0 2%;
	background: url(../img/Compras.png);
	background-size:100% 100%;
}
.Compras .DetalleProducto{
	width: 56.8%;
	height:161px;
	font-size: 20.31px;
}
.Compras .Especificacion-Local{
	display: none;
}
.Compras .DetalleProducto .Numero{
	color:#db0000;
	font-size: 16.59px;
}
.Compras .DetalleProducto .PrecioInternet{
	font-size: 24.03px;
}
.Compras .DetalleProducto .PrecioNormal{
	font-size: 16.59px;
}
.Producto .ContenedorCantidad{
	float: left;
	background: url(../img/Cantidad.png);
	width:15.7%;
	padding: 0 8px 0 8px;
}
.Producto .Cantidad{
	width: 100%;
	height: 47px;
	float:left;
	border:0;
}
.Producto .Cantidad input{
	width:100%;
	height: 100%;
	float:left;
	font-family: 'DINNextLTPro-Regular';
	font-size: 35px;
	color: #db0000;
	text-align: center;
	background-color: white;
}
.Producto .CantMas,.Producto .CantMenos{
	width: 100%;
	height: 57px;
	float:left;
	border: 0;
}
#BarraInferior{
	float:left;
	width: 96%;
	margin: 0 2% 0 2%;
}
#BarraInferior .Tablet{
	display:none;
}
#TotalInternet, #TotalNormal{
	width: 33.3%;
	height: 92px;
	font-family: 'DINNextLTPro-Medium';
	font-size: 29.17px;
	color:#232323;
	float: left;
	line-height: 30px;
	background: url(../img/FondoTotales.png);
	background-size: 100% 100%;
	text-align: center;
	padding-top: 10px;
	border:0;
}
#TotalInternet span, #TotalNormal span{
	font-family: 'DINNextLTPro-Bold';
	font-size: 37.5px;
	color:#db0000;
}
#BarraInferior a{
	float:left;
	width: 33.4%;
	height:92px;
}
#BarraInferior img{
	width: 100%;
	height: 100%;
}
/*----------------------------------------------------*/
/*------------------- Fin Compras- -------------------*/
/*----------------------------------------------------*/
}
