@media (min-device-width: 640px){ /*----------------------------------------------------*/
/*-------------------- Sección General ---------------*/
/*----------------------------------------------------*/
*{ padding: 0; margin:0; border:0;}
/* commented backslash hack \*/ 
html, body{height:98%;} 
/* end hack */
html,body {margin:0;padding:0}
body{
	border-top: 5px solid #f20000;
	background: url(../img/FondoGrande.png);
	-webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
}
#SignupMovil {display: none;}
#BordeInferior{
	width:100%;
	height: 75px;
	background-color: #f20000;
}
#wrapper{
	margin: auto;	
	width: 1075px;
	/*min-height: 1012px;*/
	min-height:100%;
	background: url(../img/FondoBlanco.png);
	background-size: 100% 100%;
}
#Logo{
	width: 100%;
	padding: 35px 0 26px 39.8%; /*169px*/
}
#Logo img{
	width:   29%; /*380px*/
	height:  208px;
}
.ImagenIndex{
	height: 393px;
	width: 89.3%;
	margin-left: 5.35%;
}
#buscador {height: 57px; margin: 0 25px 38px; display: block; background: #e3dcc9; border-radius: 8px; box-shadow: rgba(0,0,0,.36) 0 7px 8px, rgba(194,167,141,.8) 0 -4px 3px inset, rgba(255,255,255,1) 0 2px 2px inset;
background: #f9f4ee; /* Old browsers */
background: -moz-linear-gradient(top,  #f9f4ee 0%, #dbd4bc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f4ee), color-stop(100%,#dbd4bc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f9f4ee 0%,#dbd4bc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f9f4ee 0%,#dbd4bc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f9f4ee 0%,#dbd4bc 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f9f4ee 0%,#dbd4bc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f4ee', endColorstr='#dbd4bc',GradientType=0 ); /* IE6-9 */
	
}
#buscador .query {height: 35px; background: #fff; border-radius: 4px; margin: 10px 23px; font-size: 24px;  width: 485px; padding: 5px 10px; box-shadow: rgba(182,153,125,.45) 0 -1px 2px, rgba(255,255,255,1) 0 1px 2px;}
/*----------------------------------------------------*/
/*-------------- Fin Seccion General -----------------*/
/*----------------------------------------------------*/


/*----------------------------------------------------*/
/*---------------------- Index -----------------------*/
/*----------------------------------------------------*/
#Login{
	margin-top: 40px;
	margin-left:     24.4%;
	margin-right:    24.4%;
	width:           51.2%;
	height:          95px;
}
#Textos{
	float:     left;
	width:     87.3%;
	height:    100%;
	font-size: 21px;
	line-height: 250%;
}
#Textos input{
	color:   #8b8b8b;
	border-left: none;
	padding-left: 2.5%;
}
#Textos label{
	border-right: none;
	padding-left: 2.5%;
	margin:  0;
	color:   #232323;
	font-family:      'DINNextLTPro-Regular';
}
#Textos #labelCorreo{
	float:            left;
	background-color: white;
	width:            40%;
	height:           50%;
	border-radius: 10px 0 0 0;
	-moz-border-radius: 10px 0 0 0;
	-webkit-border-radius: 10px 0 0 0;
	border-top:2px solid #8b8b8b;
	border-left:2px solid #8b8b8b;
}
#Textos #inputCorreo{
	float:       left;
	width:       60%;
	height:      50%;	
	font-family: 'DINNextLTPro-Regular';
	border: none;
	border-top:2px solid #8b8b8b;
}
#Fila2{
	float: left;
	width:100%;
	height:50%;
	border-top:2px solid #8b8b8b;
}
#Textos #labelContraseña{
	float:            left;
	background-color: white;
	width:            40%;
	height:           100%;
	border-radius: 0 0 0 10px;
	-moz-border-radius: 0 0 0 10px;
	-webkit-border-radius: 0 0 0 10px;
	font-family: 'DINNextLTPro-Ultralight';
	border-left: 2px solid #8b8b8b;
	border-bottom: 2px solid #8b8b8b;
}
#Textos #inputContraseña{
	float:       left;
	width:       60%;
	height:      100%;
	border:none;
	border-bottom: 2px solid #8b8b8b;
}
#Borde-Right{
	float:           left;
	width:           12.7%;
	height:          100%;
	background:      url(../img/Borde-right.png);
	background-size: 100% 100%;
}
#Signin{
	margin-left:   32.1%;
	margin-right:  32.1%;
	width:         35.8%;
	height:        50px;
}
#Signin a{
	display: block;
	margin-top: 19px;
	width:   100%;
}
#Signin img{
	width:  100%;
	height: 50px;
}
#Social{
	width:  100%;
	height: 160px;
}
#Social p{
	padding-top: 13px;
	margin:         0;
	/*padding:      0.08cm 0.7cm 0.49cm 0.7cm;*/
	height:         58px;
	width:          100%;
	font-family:    'DINNextLTPro-Regular';
	font-size:      21px;
	text-align:     center;
}
#Social a{
	float:left;
	width:        24.5%;
	height:       50px;
	margin-bottom: 52px;
}
#Social img{
	width:  100%;
	height: 100%;
}
#Social1{
	margin-left: 24.3%;
	margin-right: 2.6%;
}
#Signup 
{

}
#Signup p{
	display: none;
	float:right;
	font-family: 'DINNextLTPro-Regular';
	font-size:21px;
	color: white;
	padding-right: 10px;
	margin: 0;
	height: 100%;
	padding-top: 15px;
}
#Signup a{
	float:right;
	display:      none;
	float:        right;
	margin-top:   12px;
	margin-right: 56px;
	width:        17.2%;
	height:       40px;
}
#Signup img{
	width:  100%;
	height: 100%;
}
/*----------------------------------------------------*/
/*------------------- Fin Index ----------------------*/
/*----------------------------------------------------*/

/*----------------------------------------------------*/
/*-------------------- Categorias --------------------*/
/*----------------------------------------------------*/
.Seleccion{
	width: 89.3%;
	height:50px;
	margin-left: 5.35%;
	background: url(../img/SeleccionProducto.png);
	background-size: 100% 100%;
	margin-bottom: 42px;
}
#Categorias{
	float:  left;
	margin: 0 11.2% 0 11.2%;
}
.Categoria{
	width: 		   50%;
	float:         left;
	margin-bottom: 10px;
}
.Categoria a{
	float:  left;
	width:  95%;
	height: 38px;
}
.Categoria a img{
	float:  left;
	width:  11%;
	height: 100%;
}
.Categoria a input{
	padding-left: 10px;
	float:                 left;
	height:                38px;
	width:                 89%;
	font-size:             22.1px;
	color:                 #232323;
	line-height:           0;
	text-align:            left;
	font-family:           'DINNextLTPro-Regular';
	border-radius:    0 4px 4px 0;
	-moz-border-radius:    0 4px 4px 0;
	-webkit-border-radius: 0 4px 4px 0;
	background:            rgba(255, 255, 255, 0.6);
	border:                solid 1px rgba(66, 0, 0, 0.3);
}
/*----------------------------------------------------*/
/*------------------ Fin Categorias ------------------*/
/*----------------------------------------------------*/

/*----------------------------------------------------*/
/*-------------------- Productos ---------------------*/
/*----------------------------------------------------*/
#NavBar{
	float: left;
	width:89.3%;
	margin: 0 5.3% 20px 5.3%;
}
#Atras{
	float:left;
	height: 50px;
	width:  12.7%;
	background: url(../img/Atras.png);
	background-size: 100% 100%;
}
#Siguiente{
	float:left;
	height: 50px;
	width:  12.7%;
	background: url(../img/Siguiente.png);
	background-size: 100% 100%;
}
#NavBar input{
	float:left;
	width: 74.6%;
	height:50px;
	font-size: 20.98px;
	color: #ffffff;
	line-height: 0;
	text-align: center;
	font-family: 'DINNextLTPro-Regular';
	background: url(../img/CategoriaSelected2.png);
	background-size: 100% 100%;
}
#Inicio{
	display:none;
	float:left;
	height: 94px;
	width:  34%;
	background: url(../img/Inicio.png);
	background-size: 100% 100%;
}
#NavBar img{
	width:  100%;
	height: 100%;
}
#CategoriaSelected{
	display:none;
	float: left;
	padding: 0 2% 0 2%;
	width: 100%;
}
#CategoriaSelected img{
	float:left;
	width:10.8%;
	height:59px;
}
#CategoriaSelected input{
	float:left;
	height: 59px;
	width: 89.2%;
	font-size: 33.3px;
	color: #ffffff;
	line-height: 0;
	text-align: left;
	vertical-align: middle;
	font-family: 'DINNextLTPro-Regular';
	border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	-webkit-border-radius: 0 4px 4px 0;
	background: url(../img/CategoriaSelected.png);
	background-size: 100% 100%;
	border: solid 0.3px rgba(66, 0, 0, 0.5);
	padding-left: 10px;
}
#CategoriaSelected input:hover{
	cursor: default;
}
#Productos{
	float:left;
	width:68%;
	margin: 0 16% 0 16%;
}
.Producto{
	float:left;
	margin-top: 2px;
	width:100%;
	height:121px;
}
.Producto .Check{
	float: left;
	height:121px;
	width:7%;
}
.Producto .Ticket{
	background: url(../img/TicketGrande.png);
	background-size: 100% 100%;
	float:left;
	height:100%;
	width:100%;
}
.Producto img{
	float:left;
	height:100%;
	width:17.8%;
}
.Detalle{
	display: block;
	width:100%;
	height: 100%;
}
.DetalleProducto{
	float:       left;
	height:      100%;
	width:       75.2%;
	font-family: 'DINNextLTPro-Regular';
	font-size:   17px;
	background:  rgba(255, 255, 255, 0.6);
	border:      solid 1px rgba(66, 0, 0, 0.3);
	padding: 10px 0 0 10px;
}
.DetalleProducto p{
	float:left;
	display: block;
	width: 100%;
	line-height: 18px;
	margin: 0;
	border: 0;
	color: #232323;
}
.DetalleProducto .Local{
	font-family: 'DINNextLTPro-Regular';
	font-weight: bold;
}
.DetalleProducto .Numero{
	color:#db0000;
	font-size: 14.2px;
}
.PrecioReferencia
{
	font-size: 12px;
}
.DetalleProducto .PrecioInternet{
	font-size: 19.8px;
}
.DetalleProducto .PrecioNormal{
	font-size: 14.21px;
}
.DetalleProducto span{
	color:#db0000;
	font-family: 'DINNextLTPro-Regular';
	font-weight: bold;
}
.ProductoSelected .DetalleProducto{
	background:  rgba(255, 130, 130, 0.95);
}
.ProductoSelected .Ticket{
	background: url(../img/TicketGrande2.png);
	background-size: 100% 100%;
}
/*----------------------------------------------------*/
/*------------------ Fin Productos -------------------*/
/*----------------------------------------------------*/

/*----------------------------------------------------*/
/*--------------------- Modal ------------------------*/
/*----------------------------------------------------*/
#modal{
	float:left;
	padding-top: 115px;
	margin: 0 16.35% 115px 16.35%;
	width: 67.3%;
}
#modal #Cerrar{
	position: absolute;
	margin: auto;	
	width: 730px;
	height:50px;
}
#modal #Cerrar a{
	float:right;
	width: 8.1%;
	height:50px;
	background: url(../img/Cerrar.png);
}
.wrapperModal #Logo{
	padding: 14px 0 0 26.4%; /*169px*/
}
#modal img{
	width: 100%;
	height: 383px;
	border: 1px solid black;
}
#modal .Producto{
	margin: 0;
	border:0;
	float:left;
	height: 100%;
}
#ContenedorModal{
	background: url(../img/FondoModal.png);
	background-size: 100% 100%;
	text-decoration: underline;
	padding-bottom: 10px;
	height: 100%;
	float: left;
}
#ContenedorModal .Movil{
	display:none;
}
.DetalleModal{
	float:left;
	height:      225px;
	width:       100%;
	font-family: 'DINNextLTPro-Regular';
	font-size:   19.4px;;
	padding: 10px 0 0 10px;
}
.DetalleModal p{
	text-decoration: underline;
	float:left;
	display: block;
	width: 100%;
	line-height: 35px;
	margin: 0;
	border: 0;
	color: #232323;
}
.DetalleModal .Local{
	font-family: 'DINNextLTPro';
	font-weight: bold;
}
.DetalleModal .Numero{
	color:#db0000;
	font-size: 16.17px;
}
.DetalleModal .PrecioInternet{
	font-family: 'DINNextLTPro';
	font-size: 22.63px;
}
.DetalleModal .PrecioNormal{
	font-size: 16.17px;
}
.DetalleModal span{
	color:#db0000;
	font-family: 'DINNextLTPro';
	font-weight: bold;
}
#DescripcionSuperior, #DescripcionInferior{
	padding: 10px 0 0 10px;
	font-family: 'DINNextLTPro-Regular';
	font-size: 19.4px;
}
#DescripcionSuperior span{
	font-family: 'DINNextLTPro-Bold';
	color:#db0000;
}
#DescripcionSuperior li{
	list-style-type: disc;
	list-style-position: inside;
}
#DescripcionInferior{
	margin:0;
}
#DescripcionInferior .Ultimo{
	padding-top: 20px;
}
/*----------------------------------------------------*/
/*-------------------Fin Modal -----------------------*/
/*----------------------------------------------------*/


/*----------------------------------------------------*/
/*--------------------- Compras-----------------------*/
/*----------------------------------------------------*/
#Compras{
	width:89.3%;
	height:50px;
	margin: 0 5.3% 0 5.3%;
	background: url(../img/Compras2.png);
	background-size:100% 100%;
	margin-bottom: 11px;
}
#Productos2{
	float:left;
	width:89.3%;
	margin: 0 5.3% 20px 5.3%;
}
#Productos2 img{
	width:13.2%;
	height:123px;
}

#Producto2 .Compras .DetalleProducto{
	width: 72.5%;
	height:123px;
	font-size: 18px;
	font-family: 'DINNextLTPro-Regular';
}
#Producto2 .Compras .DetalleProducto p{
	line-height: 20px;
	font-family: 'DINNextLTPro-Regular';
}
.Compras .DetalleProducto .Especificacion{
	display: none;
}
.Compras .DetalleProducto .Local{
	display:none;
}
.Compras .Especificacion-Local{
	float:left;
	font-size: 18px;
	font-family: 'DINNextLTPro-Regular';
}
.Compras .Especificacion-Local span{
	color: black;
	font-weight: bold;
}
#Producto2 .Compras .DetalleProducto .Numero{
	color:#db0000;
	font-size: 14.2px;
	font-family: 'DINNextLTPro-Regular';
}
#Producto2 .Compras .DetalleProducto .PrecioInternet{
	font-size: 24px;
	font-family: 'DINNextLTPro-Regular';
}
#Producto2 .Compras .DetalleProducto .PrecioNormal{
	font-size: 18px;
	font-family: 'DINNextLTPro-Regular';
}
.Producto .ContenedorCantidad{
	float: left;
	background: url(../img/Cantidad2.png);
	background-size: 100% 100%;
	width:9%;
	height: 123px;
	margin-left: 2.5%;
	margin-left: 2.5%;
	padding: 0 13px 0 13px;
}
.Producto .Cantidad{
	width: 100%;
	height: 47px;
	float:left;
	border:0;
}
.Producto .Cantidad input{
	width:100%;
	height: 100%;
	float:left;
	font-family: 'DINNextLTPro-Regular';
	font-size: 35px;
	color: #db0000;
	text-align: center;
	background-color: white;
}
.Producto .CantMas,.Producto .CantMenos{
	width: 100%;
	height: 38px;
	float:left;
	border: 0;
}
#BarraInferior{
	float:left;
	width: 82.8%;
	margin: 0 0 0 13.5%;
}
#BarraInferior .Movil{
	display:none;
}
#TotalInternet, #TotalNormal{
	width: 32.2%;
	height: 49px;
	font-family: 'DINNextLTPro-Medium';
	font-size: 24px;
	color:#232323;
	float: left;
	line-height: 30px;
	background: url(../img/FondoPreciosTablet.png);
	background-size: 100% 100%;
	text-align: center;
	padding-top: 10px;
}
#TotalInternet span, #TotalNormal span{
	font-family: 'DINNextLTPro-Bold';
	font-size: 24px;
	color:#db0000;
}
#BarraInferior a{
	float:left;
	width: 32.2%;
	height:49px;
}
#BarraInferior img{
	width: 100%;
	height: 100%;
}
/*----------------------------------------------------*/
/*------------------- Fin Compras- -------------------*/
/*----------------------------------------------------*/
}