- error = @subcategory.errors.key?(:name) && @subcategory.errors[:name].count > 0
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :name, :class => 'control-label'
  .controls
    =f.text_field :name, :class => 'input-xlarge input-with-feedback', :autofocus => true
    %span.help-inline=error ? f.error_message_on(:name, :class => 'text-error') : pat(:example)
- error = @subcategory.errors.key?(:slug) && @subcategory.errors[:slug].count > 0
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :slug, :class => 'control-label'
  .controls
    =f.text_field :slug, :class => 'input-xlarge input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:slug, :class => 'text-error') : pat(:example)
- error = @subcategory.errors.key?(:position) && @subcategory.errors[:position].count > 0
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :position, :class => 'control-label'
  .controls
    =f.text_field :position, :class => 'input-xlarge input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:position, :class => 'text-error') : pat(:example)
- error = @subcategory.errors.key?(:category_id) && @subcategory.errors[:category_id].count > 0
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :category_id, :class => 'control-label'
  .controls
    =f.text_field :category_id, :class => 'input-xlarge input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:category_id, :class => 'text-error') : pat(:example)

.form-actions
  =f.submit pat(:save), :class => 'btn btn-primary'
  &nbsp;
  =f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue'
  &nbsp;
  =link_to pat(:cancel), url(:subcategories, :index), :class => 'btn'
