%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:subcategories, :index)
  %li=link_to tag_icon(:plus, pat(:new)), url(:subcategories, :new)
  %li.active=link_to tag_icon(:edit, pat(:edit)), url(:subcategories, :edit, :id => @subcategory.id)

.tabs-content
  -form_for :subcategory, url(:subcategories, :update, :id => @subcategory.id), :method => :put, :class => 'form-horizontal' do |f|
    =partial 'subcategories/form', :locals => { :f => f }
