%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:carts, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:carts, :new)

.tabs-content
  -form_for :cart, url(:carts, :create), :class => 'form-horizontal' do |f|
    =partial 'carts/form', :locals => { :f => f }
