<form id="buscador" method="post" action="/buscador">
	<input type="search" placeholder="Busca tus productos" class="query" name="query"/>
	<input type="image" src="/img/search.png" name="action" value="send" class="send" />
</form>