%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:promos, :index)
  %li=link_to tag_icon(:plus, pat(:new)), url(:promos, :new)
  %li.active=link_to tag_icon(:edit, pat(:edit)), url(:promos, :edit, :id => @promo.id)

.tabs-content
  -form_for :promo, url(:promos, :update, :id => @promo.id), :method => :put, :class => 'form-horizontal' do |f|
    =partial 'promos/form', :locals => { :f => f }
